h1, h2, p, span {
  margin: 0;
}

body {
  background-color: #35384b;

  font-family: "Times New Roman";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
  margin-bottom: 15px;
  /*background-color: aquamarine;*/
}

.header-logo {
  color: #d7dbe7;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.time {
  /*background-color: aquamarine;*/
  width: 500px;
  margin-top: 10px;
}

.time-location {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

  margin-bottom: 10px;
}

.time-task {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.todo {
  width: 600px;
}

.todo-check .text {
  border: none;
  background-color: #35384b;
  width: 400px;
  border-bottom: 3px solid #937ea7;
  margin-right: 30px;
  margin-top: 10px;
  padding-left: 5px;
  color: #ffffff;
}

.todo-check {
  display: flex;
  justify-content: space-between;
}


.todo-check .btn {
  background-color: #a97ece;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 7px 35px;
  cursor: pointer;
}

.todo-task {
  list-style: none;
  padding: 0;
}



.todo-item {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  padding: 15px 0px;
  margin-bottom: 1px;
  background: rgb(78,87,107);
  background: linear-gradient(-90deg, rgba(78,87,107,0) 0%, rgba(78,87,107,1) 100%);
}

.task-btn {
  background-color: #a97ece;
  padding: 5px 15px;
  border-radius: 20px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.todo-text {
  font-size: 14px;
  margin-top: 5px;
  width: 415px;

}

.login-checkbox {
  position: relative;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #a97ece;
}


.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  border: 2px solid #a97ece;
  border-radius: 50%;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #a97ece;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-right-color;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 7px;
  height: 2px;
  background-color: #ffffff;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 4px;

  width: 15px;
  height: 2px;
  background-color: #ffffff;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-color: #a97ece;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

/*служебный класс*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.task-time {
  margin-top: 5px;
}

.tik {
  background-color: #e9e9e9;
  max-width: 265px;
  margin: 0 auto;
  border-radius: 5px;
}

.tik-title {
  padding-top: 20px;
  text-align: center;

  font-size: 18px;
  font-weight: bold;
  color: #35384b;
}

.tik-tak {
  font-size: 30px;
  font-weight: bold;
  color: #a97ece;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;

  position: relative;
}

.tik-tak::before {
  position: absolute;
  content: '';
  top: 16%;
  left: 21%;
  width: 150px;
  height: 150px;
  border: 2px solid #a97ece;
  border-radius: 50%;
}

.tik-text {
  padding-bottom: 45px;

  font-size: 14px;
  font-weight: bold;
  color: #35384b;

  padding-left: 15px;
}

.tik-btn {
  background-color: #35384b;
  color: #ffffff;

  padding: 5px 30px;
  border-radius: 20px;
  width: 60px;
  cursor: pointer;
}