h1, p {
  margin: 0;
}

body {
  background-color: #35384b;

  font-family: "Times New Roman";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
  margin-bottom: 15px;
  /*background-color: aquamarine;*/
}

.header-logo {
  color: #d7dbe7;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.time {
  /*background-color: aquamarine;*/
  width: 500px;
  margin-top: 10px;
}

.time-location {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

  margin-bottom: 10px;
}

.time-task {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.todo {
  width: 600px;
}

.todo-check .text {
  border: none;
  background-color: #35384b;
  width: 400px;
  border-bottom: 3px solid #937ea7;
  margin-right: 30px;
  margin-top: 10px;
  padding-left: 5px;
  color: #ffffff;
}


.todo-check .btn {
  background-color: #a97ece;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 7px 35px;
  cursor: pointer;
}

.todo-task {
  list-style: none;
  padding: 0;
}



